html, body, form, fieldset, div{
	margin: 0;
	padding: 0;
	    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
}



.box { 
	width:700px;
	height:500px;  
	position:absolute; 
	left:50%;
	top:50%; 
	margin-left:-350px; 
	margin-top:-250px; 
	border:1px solid red;
 }


#but{
cursor:pointer;
}

